In [2]:
import pandas as pd
import numpy as np

In [3]:
df_1=pd.read_csv('train_credit.csv')
df_1.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Trans_Amt_Dec12,Trans_Amt_Jan13,Trans_Amt_Feb13,Trans_Amt_Mar13,Trans_Count_Oct12,Trans_Count_Nov12,Trans_Count_Dec12,Trans_Count_Jan13,Trans_Count_Feb13,Trans_Count_Mar13
0,768805383,0,45.0,M,3,High School,Married,$60K - $80K,Blue,39,...,253,196,196,262,0,7,9,12,7,7
1,818770008,0,49.0,F,5,Graduate,Single,Less than $40K,Blue,44,...,242,323,222,238,0,1,6,11,7,8
2,713982108,0,51.0,M,3,Graduate,Married,$80K - $120K,Blue,36,...,330,967,213,182,0,1,5,5,4,5
3,769911858,0,40.0,F,4,High School,Unknown,Less than $40K,Blue,34,...,166,184,285,215,0,4,2,5,2,7
4,709106358,0,40.0,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,149,192,88,279,0,1,7,9,5,6

In [4]:
#checking is there any duplicated value is present ?
sum(df_1.duplicated())

0

In [5]:
# Step1 check is clientnum column is having duplicate values or not?
df_1.filter(items=['CLIENTNUM']).duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10097    False
10098    False
10099    False
10100    False
10101    False
10102    False
10103    False
10104    False
10105    False
10106    False
10107    False
10108    False
10109    False
10110    False
10111    False
10112    False
10113    False
10114    False
10115    False
10116    False
10117    False
10118    False
10119    False
10120    False
10121    False
10122    False
10123    False
10124    False
10125    False
10126    False
Length: 10127, dtype: bool

In [6]:
# check missing
df_1.isnull().sum()

CLIENTNUM                    0
Attrition_Flag               0
Customer_Age                14
Gender                       0
Dependent_count              0
Education_Level              0
Marital_Status               0
Income_Category              0
Card_Category                0
Months_on_book               0
Total_Relationship_Count     0
Months_Inactive_12_mon       0
Contacts_Count_12_mon        0
Credit_Limit                 4
Total_Revolving_Bal          0
Trans_Amt_Oct12              0
Trans_Amt_Nov12              0
Trans_Amt_Dec12              0
Trans_Amt_Jan13              0
Trans_Amt_Feb13              0
Trans_Amt_Mar13              0
Trans_Count_Oct12            0
Trans_Count_Nov12            0
Trans_Count_Dec12            0
Trans_Count_Jan13            0
Trans_Count_Feb13            0
Trans_Count_Mar13            0
dtype: int64

In [7]:
# Treat Missing values
df_1['Customer_Age'].fillna(df_1['Customer_Age'].median,inplace=True)
df_1['Credit_Limit'].fillna(df_1['Credit_Limit'].median,inplace=True)

In [8]:
df_1.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Trans_Amt_Oct12             0
Trans_Amt_Nov12             0
Trans_Amt_Dec12             0
Trans_Amt_Jan13             0
Trans_Amt_Feb13             0
Trans_Amt_Mar13             0
Trans_Count_Oct12           0
Trans_Count_Nov12           0
Trans_Count_Dec12           0
Trans_Count_Jan13           0
Trans_Count_Feb13           0
Trans_Count_Mar13           0
dtype: int64

In [9]:
df_1.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Trans_Amt_Oct12', 'Trans_Amt_Nov12', 'Trans_Amt_Dec12',
       'Trans_Amt_Jan13', 'Trans_Amt_Feb13', 'Trans_Amt_Mar13',
       'Trans_Count_Oct12', 'Trans_Count_Nov12', 'Trans_Count_Dec12',
       'Trans_Count_Jan13', 'Trans_Count_Feb13', 'Trans_Count_Mar13'],
      dtype='object')

In [10]:
df_1['Tr_amt_oct12_nov12_dec12']=df_1['Trans_Amt_Oct12']+df_1['Trans_Amt_Nov12']+df_1['Trans_Amt_Dec12']
df_1['Tr_amt_jan13_feb13_mar13']=df_1['Trans_Amt_Jan13']+df_1['Trans_Amt_Feb13']+df_1['Trans_Amt_Mar13']
df_1['Tr_cnt_oct12_nov12_dec12']=df_1['Trans_Count_Oct12']+df_1['Trans_Count_Nov12']+df_1['Trans_Count_Dec12']
df_1['Tr_cnt_jan13_feb13_mar13']=df_1['Trans_Count_Jan13']+df_1['Trans_Count_Feb13']+df_1['Trans_Count_Mar13']

In [11]:
#df_1['Tr_amt_oct12_nov12_dec12']

In [12]:
df_1['Ra_1']=df_1['Tr_amt_jan13_feb13_mar13']/df_1['Tr_amt_oct12_nov12_dec12']
df_1['Ra_2']=df_1['Tr_cnt_jan13_feb13_mar13']/df_1['Tr_cnt_oct12_nov12_dec12']
#df_1['Ra_3']=df_1['Total_Revolving_Bal']/df_1['Credit_Limit']

In [13]:
df_1['Total_Revolving_Bal'].dtype

dtype('int64')

In [14]:
df_1['Credit_Limit'].dtype

dtype('O')

In [15]:
df_1['Credit_Limit']

0        12691
1         8256
2         3418
3         3313
4         4716
5         4010
6        90148
7        29081
8        22352
9        11656
10        6748
11        9095
12       11751
13        8547
14        2436
15        4234
16       30367
17       13535
18        3193
19       14470
20       20979
21         932
22        4470
23        2492
24       12217
25        7768
26       14784
27       10215
28       10100
29        4785
         ...
10097     4493
10098    64469
10099     8900
10100    29808
10101     3735
10102     8398
10103    22754
10104    29663
10105     5043
10106     4299
10107    11859
10108    17504
10109     4165
10110    51839
10111     6481
10112    95922
10113    13303
10114     4700
10115     5639
10116    13187
10117    17925
10118     9959
10119    14657
10120    13940
10121     3688
10122     4003
10123     4277
10124     5409
10125     5281
10126    10388
Name: Credit_Limit, Length: 10127, dtype: object

In [16]:
 #df_1["Credit_Limit"]=pd.to_numeric(df_1["Credit_Limit"])

In [17]:
import matplotlib.pyplot as plt

In [18]:
%matplotlib inline

In [19]:
#type(df_1['Credit_Limit'][2])

In [20]:
features=['Tr_amt_oct12_nov12_dec12','Tr_amt_jan13_feb13_mar13','Tr_cnt_oct12_nov12_dec12','Tr_cnt_jan13_feb13_mar13','Ra_1','Ra_2','Months_Inactive_12_mon']

In [21]:
X=df_1[features]
y=df_1['Attrition_Flag']

In [22]:
df_1['Months_Inactive_12_mon'].dtype

dtype('int64')

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [25]:
#from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [26]:
import xgboost as xgb
regr=xgb.XGBRegressor(colsample_bytree=0.2,
                     gamma=0.0,
                     learning_rate=0.05,
                     max_depth=6,
                     min_child_weight=1.5,
                     n_estimators=7200,
                     reg_alpha=0.9,
                     reg_lambda=0.6,
                     subsample=0.2,
                     seed=42,
                     silent=1)

regr.fit(X_train,y_train)

[22:08:40] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.2, gamma=0.0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.05, max_delta_step=0, max_depth=6,
       min_child_weight=1.5, missing=nan, monotone_constraints='()',
       n_estimators=7200, n_jobs=4, num_parallel_tree=1,
       objective='reg:squarederror', random_state=42, reg_alpha=0.9,
       reg_lambda=0.6, scale_pos_weight=1, seed=42, silent=1,
       subsample=0.2, tree_method='exact', validate_parameters=1,
       verbosity=None)

In [ ]:
y_pred=regr.predict()

In [ ]:
from sklearn.metrics import mean_squared_error
def rmse(y_test,y_pred):
    return np.sqrt(mean_squared_error(y_test,y_pred))

# prediction on training set

y_pred=regr.predict(X_test[top_coefs.index])

print("XGBoost score on training set:",rmse(y_test,y_pred))